{
	"openapi": "3.1.0",
	"info": {
		"title": "Moonshot AI API",
		"version": "1.0.0",
		"description": "API for Moonshot AI / Kimi large language model services"
	},
	"servers": [
		{
			"url": "https://api.moonshot.ai",
			"description": "Production"
		}
	],
	"components": {
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"description": "The Authorization header expects a Bearer token. Use an MOONSHOT_API_KEY as the token. This is a server-side secret key. Generate one on the [API keys page](https://platform.moonshot.ai/settings/api-keys) in your dashboard."
			}
		},
		"schemas": {
			"BalanceResponse": {
				"type": "object",
				"properties": {
					"code": {
						"type": "integer",
						"description": "Response code. 0 indicates success."
					},
					"data": {
						"type": "object",
						"properties": {
							"available_balance": {
								"type": "number",
								"format": "float",
								"description": "The available balance, including cash balance and voucher balance. When it is less than or equal to 0, the user cannot call the inference API",
								"example": 49.58894
							},
							"voucher_balance": {
								"type": "number",
								"format": "float",
								"description": "The voucher balance, which cannot be negative",
								"example": 46.58893
							},
							"cash_balance": {
								"type": "number",
								"format": "float",
								"description": "The cash balance, which can be negative, indicating that the user owes money. When it is negative, available_balance is equal to the value of voucher_balance",
								"example": 3.00001
							}
						},
						"required": ["available_balance", "voucher_balance", "cash_balance"]
					},
					"scode": {
						"type": "string",
						"description": "Status code",
						"example": "0x0"
					},
					"status": {
						"type": "boolean",
						"description": "Request status",
						"example": true
					}
				},
				"required": ["code", "data", "scode", "status"]
			},
			"Message": {
				"type": "object",
				"properties": {
					"role": {
						"type": "string",
						"enum": ["system", "user", "assistant"],
						"description": "The role of the message sender"
					},
					"content": {
						"type": "string",
						"description": "The content of the message"
					},
					"name": {
						"type": "string",
						"description": "Optional name for the message sender"
					},
					"partial": {
						"type": "boolean",
						"description": "Enable Partial Mode by setting this to true in the last assistant message"
					}
				},
				"required": ["role", "content"]
			},
			"ChatCompletionRequest": {
				"type": "object",
				"properties": {
					"model": {
						"type": "string",
						"description": "Model ID",
						"default": "kimi-k2.5",
						"enum": [
							"kimi-k2.5",
							"kimi-k2-0905-preview",
							"kimi-k2-0711-preview",
							"kimi-k2-turbo-preview",
							"moonshot-v1-8k",
							"moonshot-v1-32k",
							"moonshot-v1-128k",
							"moonshot-v1-auto",
							"moonshot-v1-8k-vision-preview",
							"moonshot-v1-32k-vision-preview",
							"moonshot-v1-128k-vision-preview"
						]
					},
					"messages": {
						"type": "array",
						"description": "A list of messages in the conversation so far",
						"items": {
							"$ref": "#/components/schemas/Message"
						}
					},
					"tools": {
						"type": "array",
						"description": "A list of tools the model may call",
						"items": {
							"type": "object",
							"properties": {
								"type": {
									"type": "string",
									"enum": ["function"]
								},
								"function": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string",
											"description": "Function name. Must follow the regex: ^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$",
											"pattern": "^[a-zA-Z_][a-zA-Z0-9-_]{0,63}$"
										},
										"description": {
											"type": "string",
											"description": "Description of what the function does"
										},
										"parameters": {
											"type": "object",
											"description": "Function parameters as JSON Schema",
											"additionalProperties": true
										}
									},
									"required": ["name", "parameters"]
								}
							},
							"required": ["type", "function"]
						},
						"maxItems": 128
					},
					"temperature": {
						"type": "number",
						"format": "float",
						"description": "The sampling temperature to use, ranging from 0 to 1. A higher value (e.g., 0.7) will make the output more random, while a lower value (e.g., 0.2) will make it more focused and deterministic. Value range must be [0, 1]. Default is 0.0 for moonshot-v1 series models, 0.6 for kimi-k2 series models, and 1.0 for kimi-k2-thinking series models. This parameter cannot be modified for the kimi-k2.5 model."
					},
					"max_tokens": {
						"type": "integer",
						"description": "Deprecated, please refer to max_completion_tokens"
					},
					"max_completion_tokens": {
						"type": "integer",
						"description": "The maximum number of tokens to generate for the chat completion. If the result reaches the maximum number of tokens without ending, the finish reason will be \"length\"; otherwise, it will be \"stop\". This refers to the length of tokens you expect us to return, not the total length of input plus output."
					},
					"top_p": {
						"type": "number",
						"format": "float",
						"description": "Another sampling method, where the model considers the results of tokens with a cumulative probability mass of top_p. Thus, 0.1 means only considering the top 10% of tokens by probability mass. Generally, we suggest changing either this or the temperature, but not both at the same time. For kimi-k2.5 model, only 0.95 is allowed and this parameter cannot be modified."
					},
					"n": {
						"type": "integer",
						"description": "The number of results to generate for each input message"
					},
					"presence_penalty": {
						"type": "number",
						"format": "float",
						"description": "Presence penalty, a number between -2.0 and 2.0. A positive value will penalize new tokens based on whether they appear in the text, increasing the likelihood of the model discussing new topics"
					},
					"frequency_penalty": {
						"type": "number",
						"format": "float",
						"description": "Frequency penalty, a number between -2.0 and 2.0. A positive value will penalize new tokens based on their existing frequency in the text, reducing the likelihood of the model repeating the same phrases verbatim"
					},
					"response_format": {
						"type": "object",
						"description": "Setting this to {\"type\": \"json_object\"} enables JSON mode, ensuring that the generated information is valid JSON. When you set response_format to {\"type\": \"json_object\"}, you must explicitly guide the model to output JSON-formatted content in the prompt and specify the exact format of the JSON, otherwise it may result in unexpected outcomes. Default is {\"type\": \"text\"}.",
						"properties": {
							"type": {
								"type": "string",
								"enum": ["text", "json_object"]
							}
						}
					},
					"stop": {
						"oneOf": [
							{
								"type": "string"
							},
							{
								"type": "array",
								"items": {
									"type": "string"
								},
								"maxItems": 5
							}
						],
						"description": "Stop words, which will halt the output when a full match is found. The matched words themselves will not be output. A maximum of 5 strings is allowed, and each string must not exceed 32 bytes"
					},
					"thinking": {
						"type": "object",
						"description": "Controls if thinking is enabled for kimi-k2.5 model. Only available when model equals to kimi-k2.5. Optional parameter. Default value is {\"type\": \"enabled\"}.",
						"properties": {
							"type": {
								"type": "string",
								"enum": ["enabled", "disabled"],
								"description": "Enable or disable thinking capability"
							}
						},
						"required": ["type"],
						"additionalProperties": false
					},
					"stream": {
						"type": "boolean",
						"description": "Whether to return the response in a streaming fashion"
					},
					"stream_options": {
						"type": "object",
						"description": "Options for streaming responses",
						"properties": {
							"include_usage": {
								"type": "boolean",
								"description": "If set, an additional chunk will be streamed before the data: [DONE] message. The usage field on this chunk shows the token usage statistics for the entire request, and the choices field will always be an empty array. All other chunks will also include a usage field, but with a null value. NOTE: If the stream is interrupted, you may not receive the final usage chunk which contains the total token usage for the request"
							}
						}
					},
					"prompt_cache_key": {
						"type": "string",
						"description": "Used to cache responses for similar requests to optimize cache hit rates. For Coding Agents, this is typically a session id or task id representing a single session; if the session is exited and later resumed, this value should remain the same. For Kimi Code Plan, this field is required to improve cache hit rates. For other agents involving multi-turn conversations, it is also recommended to implement this field"
					},
					"safety_identifier": {
						"type": "string",
						"description": "A stable identifier used to help detect users of your application that may be violating usage policies. The ID should be a string that uniquely identifies each user. It is recommended to hash the username or email address to avoid sending any identifying information"
					}
				},
				"required": ["model", "messages"]
			},
			"EstimateTokenRequest": {
				"type": "object",
				"properties": {
					"model": {
						"type": "string",
						"description": "Model ID",
						"default": "kimi-k2.5",
						"enum": [
							"kimi-k2.5",
							"kimi-k2-0905-preview",
							"kimi-k2-0711-preview",
							"kimi-k2-turbo-preview",
							"moonshot-v1-8k",
							"moonshot-v1-32k",
							"moonshot-v1-128k",
							"moonshot-v1-auto",
							"moonshot-v1-8k-vision-preview",
							"moonshot-v1-32k-vision-preview",
							"moonshot-v1-128k-vision-preview"
						]
					},
					"messages": {
						"type": "array",
						"description": "A list of messages in the conversation so far",
						"items": {
							"$ref": "#/components/schemas/Message"
						}
					}
				},
				"required": ["model", "messages"]
			},
			"EstimateTokenResponse": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"total_tokens": {
								"type": "integer",
								"description": "Estimated total number of tokens",
								"example": 80
							}
						},
						"required": ["total_tokens"]
					}
				},
				"required": ["data"]
			},
			"ErrorResponse": {
				"type": "object",
				"properties": {
					"error": {
						"type": "object",
						"properties": {
							"message": {
								"type": "string",
								"description": "Error message describing what went wrong"
							},
							"type": {
								"type": "string",
								"description": "Error type"
							},
							"code": {
								"type": "string",
								"description": "Error code"
							}
						},
						"required": ["message"]
					}
				},
				"required": ["error"]
			}
		}
	},
	"paths": {
		"/v1/users/me/balance": {
			"get": {
				"summary": "Check Balance",
				"description": "REST API to check your available, voucher, and cash balances on Kimi OpenPlatform.",
				"tags": ["Billing"],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"responses": {
					"200": {
						"description": "Balance information",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BalanceResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid or missing API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v1/chat/completions": {
			"post": {
				"summary": "Create Chat Completion",
				"description": "Creates a completion for the chat message. Supports standard chat, Partial Mode, and Tool Use (Function Calling).",
				"tags": ["Chat"],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ChatCompletionRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Chat completion response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"id": {
											"type": "string",
											"description": "Unique identifier for the completion"
										},
										"object": {
											"type": "string",
											"description": "Object type",
											"example": "chat.completion"
										},
										"created": {
											"type": "integer",
											"description": "Unix timestamp of when the completion was created"
										},
										"model": {
											"type": "string",
											"description": "Model used for the completion"
										},
										"choices": {
											"type": "array",
											"description": "List of completion choices",
											"items": {
												"type": "object",
												"properties": {
													"index": {
														"type": "integer"
													},
													"message": {
														"type": "object",
														"properties": {
															"role": {
																"type": "string",
																"enum": ["assistant"]
															},
															"content": {
																"type": ["string", "null"],
																"description": "The assistant's message content"
															},
															"tool_calls": {
																"type": "array",
																"description": "Tool calls made by the model",
																"items": {
																	"type": "object",
																	"properties": {
																		"id": {
																			"type": "string"
																		},
																		"type": {
																			"type": "string",
																			"enum": ["function"]
																		},
																		"function": {
																			"type": "object",
																			"properties": {
																				"name": {
																					"type": "string"
																				},
																				"arguments": {
																					"type": "string",
																					"description": "JSON string of function arguments"
																				}
																			}
																		}
																	}
																}
															}
														}
													},
													"finish_reason": {
														"type": "string",
														"enum": ["stop", "length", "tool_calls"]
													}
												}
											}
										},
										"usage": {
											"type": "object",
											"properties": {
												"prompt_tokens": {
													"type": "integer",
													"description": "Number of tokens in the prompt"
												},
												"completion_tokens": {
													"type": "integer",
													"description": "Number of tokens in the completion"
												},
												"total_tokens": {
													"type": "integer",
													"description": "Total number of tokens used"
												}
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad request - Invalid parameters",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid or missing API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v1/tokenizers/estimate-token-count": {
			"post": {
				"summary": "Estimate Token Count",
				"description": "Estimates the number of tokens that would be used for a given set of messages and model. The input structure is almost identical to that of chat completion.",
				"tags": ["Utilities"],
				"security": [
					{
						"bearerAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EstimateTokenRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Token count estimation",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/EstimateTokenResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad request - Invalid parameters",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid or missing API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Server error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		}
	},
	"webhooks": {}
}
